PORT=3000
NODE_URL=https://nodes-testnet.wavesnodes.com
CHAIN_ID=84

REGISTRY_ADDRESS=
RELAYER_SEED=

# JWT secret for session tokens (change in production!)
JWT_SECRET=your-super-secret-key-change-in-production

FEE_REGULAR=500000
FEE_VERIFIER=900000